@mixin flexBetween($gapWidth) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $gapWidth;
}

@mixin flexCenter($gapWidth) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gapWidth;
}
