@import "variables";
@import "mixin";

.header {
  background-color: $secondaryColor;
  width: 100vw !important;
  padding: 0 20px;
  overflow: hidden;
}

.header__navbar {
  padding: 20px 10px;
  display: none;

  ul {
    @include flexBetween(20px);
  }

  a {
    color: $textColor;
    &:hover {
      color: $primaryColor;
    }
    transition: color 0.1s ease-in;
    -webkit-transition: color 0.1s ease-in;
    -moz-transition: color 0.1s ease-in;
    -ms-transition: color 0.1s ease-in;
    -o-transition: color 0.1s ease-in;
  }
}
.header__logo {
  font-size: 2rem;
}

.header__login {
  display: inline-block;
  padding: 5px 8px;
  cursor: pointer;
  box-shadow: 2px 2px 30px rgba(244, 236, 13, 0.2);
  border: solid 1px rgba(255, 255, 255, 0.12);

  &:hover {
    background-color: $primaryColor !important;
    color: #000 !important;
    box-shadow: 2px 2px 30px rgba(244, 236, 13, 0.4);
  }
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: all 0.2s ease-in !important;
  -webkit-transition: all 0.2s ease-in !important;
  -moz-transition: all 0.2s ease-in !important;
  -ms-transition: all 0.2s ease-in !important;
  -o-transition: all 0.2s ease-in !important;
}

.header__mobile {
  @include flexBetween(30px);
  padding: 20px 10px;
  cursor: pointer;
}

.header__bars {
  font-size: 2rem;
}

@media screen and (min-width: "640px") {
  .header__navbar {
    @include flexBetween(2px);
  }
  .header__mobile {
    display: none;
  }
  .header__bars {
    display: none;
  }
}
